<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name=renderer  content=webkit>
    <title>标注系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/style/common.css">
    <script type="application/javascript" src="/js/jquery.min.js"></script>
    <script type="application/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js"></script>
    <script type="application/javascript" src="/lib/echarts/echarts.min.js"></script>
    <script type="application/javascript" src="/js/g6.min.js"></script>
    <script type="text/javascript" src="/js/statistic.js"></script>
    <script type="text/javascript" src="/js/dataReport.js"></script>
    <style>
        .layui-layer-content.layui-layer-padding{color:#000;}
        #ylImg{height: 200px;}
        .layui-table img{max-height:50px;}
    </style>
</head>
<body class="openMenu">
<!-- 载入左侧菜单指向的jsp（或html等）页面内容 -->
<div class="" id="open">
<!--    <div>每页显示 8 条 , 当前显示 1-8 条记录</div>-->
    <div style="text-align: center;"><img src="" alt="" id="ylImg"></div>
    <button type="button" class="layui-btn psar" id="picture1">
        <i class="layui-icon">&#xe67c;</i>上传图片
    </button>
    <table class="layui-table">
        <colgroup>
            <col width="80">
            <col>
            <col width="200">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>图片缩略图</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="tabList">
<!--            <tr>-->
<!--                <td>1</td>-->
<!--                <td><img src="" alt=""></td>-->
<!--                <td><button class="layui-btn layui-btn  layui-btn-sm">预览</button><button class="layui-btn layui-btn  layui-btn-sm">删除</button></td>-->
<!--            </tr>-->
        </tbody>
    </table>
    <div id="test1"></div>
</div>
<script>
  var entityType = '';
  var entityId = '';
  var gx = {};
  var gxd = '';
  var enamed = '';
  var timeVal = null;
function child(entType,name,obj){
    entityType = entType;
    entityId = name;

    console.log(entType,name,obj);
    var imgArr = obj.object != '' ? obj.object.split('@#@') : [] ;
    $('#ylImg').prop('src',imgArr[0]);

    layui.use(['laypage','upload'], function(){
        var laypage = layui.laypage;
        var upload = layui.upload;


        //选完文件后不自动上传
        upload.render({
            elem: '#picture1'
            ,url: '/upload' //改成您自己的上传接口
            ,multiple: true  //多文件上传
            // ,auto: false
            // ,bindAction: '#picture2'
            // ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
            //     // layer.load(); //上传loading
            //     console.log(obj);
            //     clearInterval(timeVal);
            // }
            ,done: function(res){
                if(res.success){
                    layer.msg(res.msg);
                    // console.log(JSON.parse(res.json).pictureName)
                    var imgId =
                    imgArr.push(JSON.parse(res.json).pictureName);
                    console.log(imgArr);
                    // pictureSrc = JSON.parse(res.json).pictureName;
                    // $('.psarSave').click();
                    timeVal = setTimeout(function(){

                        obj.object = imgArr.join('@#@');
                        setObjFn(obj);
                    },500)
                }else{
                    layer.msg(res.msg);
                }
            }
        });

        //多图片上传
        // upload.render({
        //     elem: '#test2'
        //     ,url: '' //此处配置你自己的上传接口即可
        //     ,multiple: true
        //     ,before: function(obj){
        //         //预读本地文件示例，不支持ie8
        //         obj.preview(function(index, file, result){
        //             $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
        //         });
        //     }
        //     ,done: function(res){
        //         //上传完毕
        //     }
        // });

        $('.tabList').on('click','.layui-btn',function(){
            var tds = $(this).parent('td');
            var inx = parseInt(tds.attr('datInx'));
            if($(this).hasClass('tyl')){
                $('#ylImg').prop('src',imgArr[inx]);
            }

            if($(this).hasClass('tdel')){
                layer.confirm('确定删除吗？', {icon: 3, title:'提示'}, function(index){
                    //do something
                    imgArr.splice(inx,1);
                    obj.object = imgArr.join('@#@');
                    // if(imgArr.length == 1){
                    //     obj.id = '';
                    // }
                    setObjFn(obj);

                    layer.close(index);
                });

            }
        });

        setList(1)

        function setList(num){
            var num = num - 1;
            var str = '';
            for(var i=0; i<imgArr.length; i++){
                str += '<tr>' +
                        '    <td>' + eval(i+1) + '</td>' +
                        '    <td><img src="' + imgArr[i] + '" alt=""></td>' +
                        '    <td datInx="' + i + '"><button class="layui-btn layui-btn  layui-btn-sm tyl">预览</button><button class="layui-btn layui-btn  layui-btn-sm tdel">删除</button></td>' +
                        '</tr>';
            }
            $('.tabList').html(str);
            // pageFn(num + 1);
        }

        function pageFn(num){
            //执行一个laypage实例
            laypage.render({
                elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                ,curr:num
                ,count: imgArr.length //数据总数，从服务端得到
                ,jump: function(obj, first){
                    //obj包含了当前分页的所有参数，比如：
                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    console.log(obj.limit); //得到每页显示的条数

                    //首次不执行
                    if(!first){
                        //do something
                        setList(obj.curr);
                    }
                }
            });
        }
        function setObjFn(ojs){
            $.ajax({
                url:'/proofreading/savetriplet',
                type:'post',
                data:ojs,
                async : false,
                success:function(msg){
                    // console.log(msg);
                    if(msg.success){
                        var data = JSON.parse(msg.json);
                        // layer.msg(msg.msg);

                        if(data){
                            obj.id = data.id;
                        }else{
                            obj.id = '';
                        }

                        setList();
                    }else{
                        layer.msg(msg.msg);
                    }
                },
                error:function(err){
                    console.log(err);
                }
            });
        }


    });

  return false;
  $.ajax({
    url:'/manage/getEntityByRelation',
    type:'post',
    data:{entityType:entType,entityName:name,uuid:ids},
    success:function(msg){
      if(msg.success){
        var data = JSON.parse(msg.json);
          console.log(data);
          layui.use(['form','layer','laypage'], function(){
              var form = layui.form;
              var layer = layui.layer;
              var laypage = layui.laypage;

              // console.log();
              $('.sname').val(name);
              gx = data.relationEntitiesName;
              var str1 = '';
              for(key in data.relationEntitiesName){
                  str1 += '<option value="' + key + '">' + key + '</option>';
              }
              $('.gx').html(str1);

              var ename = getSt(gx,$('.gx').val());
              if(type == 'edit'){
                  ename = getSt(gx,obj.gx);
              }

              $('.ename').html(ename);

              if(type == 'edit'){
                  form.val("gxss", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                      "gx": obj.gx // "name": "value"
                      ,"ename": obj.ename
                  });
              }
              form.render();

              form.on('select(gx)', function(data){
                  // console.log(data.elem); //得到select原始DOM对象
                  // console.log(data.value); //得到被选中的值
                  // console.log(data.othis); //得到美化后的DOM对象

                  var str = getSt(gx,data.value);
                  $('.ename').html(str);
                  form.render('select');
              });

              //监听提交
              form.on('submit(save)', function(data){
                  // layer.msg(JSON.stringify(data.field));

                  var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                  if(type == 'add'){

                      parent.GetValue(data.field,type);
                  }else{

                      parent.GetValue(data.field,type,obj.indx);
                  }
                  parent.layer.close(index); //再执行关闭

                  return false;
              });

          });



      }else{
        layer.alert(msg.errMsg);
      }
    },
    error:function(err){
      console.log(err);
    }
  });
}
function getSt(gx,key){
    var data = gx[key];
    var str1 = '<option value=""></option>';
    for(var i=0; i<data.length; i++){
        str1 += '<option value="' + data[i] + '">' + data[i] + '</option>';
    }
    return str1;
}
</script>
</body>
</html>