<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name=renderer  content=webkit>
    <title>标注系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/style/common.css">
    <script type="application/javascript" src="/js/jquery.min.js"></script>
    <script type="application/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js"></script>
    <script type="application/javascript" src="/lib/echarts/echarts.min.js"></script>
    <script type="application/javascript" src="/lib/echarts/world.js"></script>
    <script type="application/javascript" src="/js/g6.min.js"></script>
    <script type="text/javascript" src="/js/statistic.js"></script>
    <script type="text/javascript" src="/js/dataReport.js"></script>
    <script type="text/javascript" src="/js/map_api.min.js"></script>
    <style>
        .layui-timeline-title span a{display: inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; max-width:70px; }
        .layui-timeline-title span a:nth-child(2){max-width:160px; }
        /*.layui-timeline-title span a:nth-child(3){max-width: 70px;}*/
        /*.layui-timeline-title span a:nth-child(4){max-width: 50px;}*/
    </style>
</head>
<body class="comment">
<!-- 载入左侧菜单指向的jsp（或html等）页面内容 -->
<div class="" id="content">
    <div class="header clearfix">
        <div class="title fl"><a href="/home/index.html">标注系统</a></div>
        <form class="layui-form fl" action="javascript:;" id="search">
            <div class="layui-inline inp_200">
                <div class="layui-input-inline">
                  <select name="entityType" lay-search class="xzs" lay-filter="sxType">
                  </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline inp_400">
                  <input type="text" name="keyword" placeholder="请输入实体名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">检索实体</button>
                    <a class="shtjtz" href="/home/sltj.html">数量统计</a>
                </div>
            </div>
            <br>
            <div id="gjSx" style="display:none; margin-top:20px;">
                <div class="layui-inline inp_200">
                    <div class="layui-input-inline">
                        <select name="entitySx" class="sxxz" lay-search >
                            <option value="">不限</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline gjsxWh">
                    <div class="layui-input-inline">
                        <input type="number" name="sxMin" placeholder="请输入最小值" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="number" name="sxMax" placeholder="请输入最大值" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="nav">
      <ul class="clearfix">
        <li onclick="tz('st')"><a href="javascript:;" class="ons" >实体详情</a></li>
        <li onclick="tz('t')"><a href="javascript:;" >实体图模型</a></li>
        <li onclick="tz('s')"><a href="javascript:;">实体树模型</a></li>
      </ul>
    </div>
    <div class="contBox" id="conts">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-xs8">
            <div class="cBox box_l">
              <div class="sub">
                <div class="sub_head">
                  <h3><b class="logo-01"><!--舰--></b><!--西奥多·罗斯福号航空母舰--></h3>
                  <span class="lsbb">[历史版本]</span>
                  <span class="xd fr fa">已修订</span>
                </div>
                <div class="sub_body">
                  <div class="jj layui-row layui-col-space15">
                    <div class="layui-col-md8">
                      <div class="content"><!--西奥多·罗斯福号航空母舰（USS Theodore Roosevelt CVN-71），或罗斯福号航空母舰，是美国尼米兹级核动力航空母舰的四号舰，起造于1981年，于1984年正式下水。西奥多·罗斯福是美国第26任总统（任期1901年—1909年），是个海军迷，任期内大力扩充海军，也在他任内完成了大白舰队计划。昵称“T.R.”的罗斯福号是美国海军第一艘以西奥多·罗斯福总统命名的航空母舰，但除了该舰外，美国海军其实曾拥有过另一艘以罗斯福为名的航空母舰──以第32任总统富兰克林·罗斯福命名的富兰克林·D·罗斯福号（USS Franklin D. Roosevelt CVB-42）。--></div>
                    </div>
                    <div class="layui-col-md4">
                      <img src="" class="imgDt" alt="">
                    </div>
                  </div>
                  <div class="sb_rows hjChart">
                      <div class="clearfix wlH5">
                          <h5 class="fl">航迹</h5>
                          <div class="layui-inline fr">
                              <label class="layui-form-label">时间范围</label>
                              <div class="layui-input-inline" style="width:320px;">
                                  <input type="text" name="times" class="layui-input" id="test1" required="" lay-verify="required" autocomplete="off" placeholder="请选择日期" lay-key="1">
                              </div>
                          </div>
                      </div>

                    <div class="sb_list">
                        <p class="hjInfo"></p>
                        <div id="echart5" class="echart5"></div>
                    </div>
                  </div>
                  <div class="sb_rows">
                    <h5>属性</h5>
                    <div class="sb_list">
                      <ul class="clearfix properties">
<!--                        <li>-->
<!--                          <span class="lis1">舰种</span>-->
<!--                          <span class="lis2">航空母舰</span>-->
<!--                          <span class="lis3"><a href="javascript:;">维基百科</a></span>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                          <span class="lis1">舰种</span>-->
<!--                          <span class="lis2">航空母舰</span>-->
<!--                          <span class="lis3"><a class="rg" href="javascript:;">人工校对</a></span>-->
<!--                        </li>-->
                      </ul>
                    </div>
                  </div>
                  <div class="sb_rows" >
                    <h5>实体关系</h5>
                    <div class="sb_list">
                      <ul class="clearfix relations">
<!--                        <li>-->
<!--                          <span class="lis1">排水量</span>-->
<!--                          <span class="lis2">104,600长吨（117,200短吨）</span>-->
<!--                          <span class="lis3"><a href="javascript:;">维基百科</a></span>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                          <span class="lis1">舰种</span>-->
<!--                          <span class="lis2">航空母舰</span>-->
<!--                          <span class="lis3"><a class="rg" href="javascript:;">人工校对</a></span>-->
<!--                        </li>-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-col-xs4">
            <div class="cBox box_r">
                <div class="rb_list queList1">
                    <div class="cb_nav clearfix">
                        <h5 class="entType"></h5>
                        <!-- <div class="fr">
                          <span class="">展开</span>
                        </div> -->

                    </div>
                    <ul class="clearfix cbl_ul">
                    </ul>
                </div>
                <div class="rb_list queList2">
                    <div class="cb_nav clearfix">
                        <h5 class="entType"></h5>
                        <!--<div class="fr">
                          <span class="">展开</span>
                        </div>-->
                    </div>
                    <ul class="clearfix cbl_ul">
                        <!--                  <li>-->
                        <!--                    <a href="javascript:;">-->
                        <!--                      <img src="/images/hm_02.jpg" alt="">-->
                        <!--                      <h6>福特级航空母舰</h6>-->
                        <!--                    </a>-->
                        <!--                  </li>-->
                    </ul>
                </div>
              <div class="rb_list queList3">
                <div class="cb_nav clearfix">
                  <h5>相关事件</h5>
                  <div class="fr">
                    <span class="">排序方式</span>
                    <form class="layui-form" style="display:inline-block;">
                      <div class="layui-input-inline" style="width:90px;">
                        <select name="interest" lay-filter="sjSort">
                          <option value="1">开始时间</option>
                          <option value="0">结束时间</option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
                <ul class="layui-timeline xgsj">
<!--                  <li class="layui-timeline-item">-->
<!--                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>-->
<!--                    <div class="layui-timeline-content layui-text ls_box">-->
<!--                      <h3 class="layui-timeline-title"><a href="javascript:;">8月18日</a> <span class="fr"><b></b><a href="javascript:;">西奥多·罗斯福号航空母舰</a> ，<a href="javascript:;">疫情</a> ，<a href="javascript:;">越南港口</a>，<a href="javascript:;">美国</a></span></h3>-->
<!--                      <h5><a href="javascript:;">美军认定2个事实:罗斯福号航母在越南被感染，老舰长永不录用</a></h5>-->
<!--                      <div class="layui-row">-->
<!--                        <div class="layui-col-md3 ls_01">-->
<!--                          <img src="/images/hm_02.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="layui-col-md9 ls_02">-->
<!--                          <div class="ls_02">-->
<!--                            <h6>-->
<!--                              <img src="/images/sign_02.png" alt="">-->
<!--                              <span>北晚新视觉网 2020年06月09日 08:59</span>-->
<!--                            </h6>-->
<!--                            <div class="ls_con">-->
<!--                              中新网6月9日电 据路透社报道，当地时间6月9日，美国三名官员表示当地时间6月9日，美国三名官员表示当地时间6月9日，美国三名官员表示当地时间6月9日，美国三名官员表示 -->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->

<!--                  <li class="layui-timeline-item">
                    &lt;!&ndash; <i class="layui-icon layui-timeline-axis">&#xe63f;</i> &ndash;&gt;
                    <div class="layui-timeline-content layui-text">
                      <div class="layui-timeline-title"></div>
                    </div>
                  </li>-->
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<script>
var startTime = '';
var endTime = '';
$(function(){

    layui.use(['form','layer', 'laydate'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var tits = $('.sub h3').text();

        entTypeList();
        getStSxFn(entityType);
        form.render();
        // 获取实体详情
        getSt(entityType,id,latest,version);

        /* 航迹 */
        chart5 = echarts.init(document.getElementById("echart5"));

        seriersData = [];

        seriersData.push({
            name: '坐标',
            type: 'effectScatter',
            coordinateSystem: 'geo',
            roam:true,
            zlevel: 2,
            rippleEffect: {
                brushType: 'stroke'
            },
            label: {
                show: true,
                position: 'right',
                formatter: '{b}'
            },
            symbolSize: 7,
            itemStyle: {
                color: '#fff700',
            },
            data: [{"name":"坐标","value":[129.7,33.1]},{"name":"坐标","value":[127.7,26.3]},{"name":"坐标","value":[144.9,13.5]},{"name":"坐标","value":[122.7,47.7]}]
        });

        seriersData.push({
            type:'lines',
            color:'#ff8003',
            opacity:'1',
            polyline:true,
            symbol:'circle',
            symbolSize:8,
            itemStyle:{
              normal:{
                  color:'red',
                  borderColor:'red',  //拐点边框颜色
              },
            },
            lineStyle:{
              type:'solid',
              opacity:'1',
              color:'#fff700',
              width: 2
            },
            data:[
                {
                    name:'西奥多·罗斯福号航空母舰 ',
                    value:'2019-12-05',
                    coords:[[129.7,33.1],[127.7,26.3],[144.9,13.5],[122.7,47.7]],
                }
            ]
        });

        option = {
            title: {
              // text: '全国主要城市空气质量',
              // subtext: 'data from PM25.in',
              // sublink: 'http://www.pm25.in',
              // x:'center',
              // textStyle: {
              //     color: '#fff'
              // }
            },
            tooltip: {
              trigger: 'item',
              formatter: function (params) {

                  if(params.name == '坐标'){
                      // console.log(params.data.news);
                      var arr1 = params.data.news;
                      var str1 = '';
                      for(var i=0; i<arr1.length; i++){
                          var lis = arr1[i].length > 30 ? arr1[i].substring(0,30) + '...' : arr1[i];
                          str1 += eval(i+1) + '.' + lis + '<br/>';
                      }
                      return str1;
                  }else{
                      return params.name + ' : ' + params.value;
                  }
              }
            },
            legend: {
                orient: 'vertical',
                top: 'bottom',
                left: 'right',
                data:['pm2.5'],
                textStyle: {
                    color: '#fff'
                }
            },
            geo: {
                map: 'world',
                roam:true,
                center: ["121.278227", "20.278458"],
                zoom: 5,
                label:{
                  normal:{
                    show:false,
                  },
                  emphasis:{
                    show:false,
                  },
                },
                itemStyle: {
                    areaColor: '#323c48',
                    borderColor: '#111'
                },
                emphasis: {
                    itemStyle: {
                        areaColor: '#2a333d'
                    },
                    label: {
                        show: false
                    }
                }
            },
            series:seriersData
        };

        getHjInfoFn(id,1,startTime,endTime);

        laydate.render({
            elem: '#test1'
            // ,max: '0' //禁止当前天数
            ,type:'datetime'
            ,range: true
            ,done: function(value, date){
                // console.log(value); //得到日期生成的值，如：2017-08-18
                // console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                var arr = value.split(' - ');
                console.log(arr);
                startTime = new Date(arr[0]).getTime();
                endTime = new Date(arr[1]).getTime();
                getHjInfoFn(id,1,startTime,endTime);
            }
        });

        sjList(1);
        //改变 事件排序
        form.on('select(sjSort)', function(data){
            // console.log(data.elem); //得到select原始DOM对象
            // console.log(data.value); //得到被选中的值
            // console.log(data.othis); //得到美化后的DOM对象
            sjList(data.value);
        });

    });
});
function sjList(sort){
    //事件
    $.ajax({
        url:'/query/queryEvent',
        type:'post',
        data:{eventType:'EVENT',entityId:id,sort:sort},
        success:function(msg){

            if(msg.success) {
                var res = JSON.parse(msg.json);
                // console.log(res);
                var stName = $('.sub_head h3').text().substr(1);

                var str = '';
                var times = 0;
                for(var i=0; i<res.length; i++){
                    // if(sort > 0){
                    //     times = getTime(res[i].startTime).split(' ')[0];
                    // }else{
                    //     times = getTime(res[i].endTime).split(' ')[0];
                    // }
                    times = getTime(res[i].startTime).split(' ')[0] + ' ~ ' + getTime(res[i].endTime).split(' ')[0];
                    if(stName == ''){
                        stName = res[i].entities;
                    }

                    str += '<li class="layui-timeline-item">' +
                        '  <i class="layui-icon layui-timeline-axis">&#xe63f;</i>' +
                        '  <div class="layui-timeline-content layui-text ls_box">' +
                        '    <h3 class="layui-timeline-title"><a href="javascript:;">' + times + '</a><br><span><b></b><a href="javascript:;">' + stName + '</a>，<a href="javascript:;">' + res[i].postion + '</a>，<a href="javascript:;">' + res[i].nations + '</a></span></h3>' +
                        '    <h5><a href="javascript:;">' + res[i].title + '</a></h5>' +
                        '    <div class="layui-row">' +
                        '      <div class="layui-col-md12 ls_02">' +
                        '        <div class="ls_02">' +
                        '          <div class="ls_con">' + res[i].abs + '</div>' +
                        '        </div>' +
                        '      </div>' +
                        '    </div>' +
                        '  </div>' +
                        '</li>';
                }
                str += '<li class="layui-timeline-item">' +
                    '  <div class="layui-timeline-content layui-text">' +
                    '    <div class="layui-timeline-title"></div>' +
                    '  </div>' +
                    '</li>';
                $('.xgsj').html(str);

            }else{
                $('.queList3').hide();
            }
        },
        error:function(err){
            console.log(err);
        }
    });
}
function getHjInfoFn(id,sort,startTime,endTime){
    //航迹
    $.ajax({
        // url:'/query/queryEvent',
        url:'/query/queryTrailByTime',
        type:'post',
        // data:{eventType:'TRAIL',entityId:id,sort:1},
        data:{eventType:'TRAIL',entityId:id,sort:sort,startTime:startTime,endTime:endTime},
        success:function(msg){
            $('.hjChart .hjInfo').text(msg.errMsg);
            if(msg.success) {
                $('.hjChart .hjInfo').hide();
                $('#echart5').show();
                var res = JSON.parse(msg.json);
                console.log(res);
                var stName = $('.sub_head h3').text().substr(1);
                var hjArr = [];
                for(var i=0; i<res.length; i++){
                    hjArr.push(res[i].value);
                }
                option.geo.center = res[0].value;
                option.series[0].data = res;
                option.series[1].data[0] = {name:'航迹', value:stName, coords:hjArr};
                // console.log(hjArr);
                chart5.setOption(option);
            }else{

                $('.hjChart .hjInfo').show();
                $('#echart5').hide();
            }
        },
        error:function(err){
            console.log(err);
        }
    });
}
</script>
</body>
</html>