<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name=renderer  content=webkit>
    <title>标注系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/style/common.css">
    <script type="application/javascript" src="/js/jquery.min.js"></script>
    <script type="application/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js"></script>
    <script type="application/javascript" src="/lib/echarts/echarts.min.js"></script>
    <script type="application/javascript" src="/js/g6.min.js"></script>
    <script type="text/javascript" src="/js/statistic.js"></script>
    <script type="text/javascript" src="/js/dataReport.js"></script>
    <script src="/js/hierarchy.js"></script>
</head>
<body class="comment">
<!-- 载入左侧菜单指向的jsp（或html等）页面内容 -->
<div class="" id="content">
    <div class="header clearfix">
        <div class="title fl"><a href="/home/index.html">标注系统</a></div>
        <form class="layui-form fl" action="javascript:;" id="search">
            <div class="layui-inline inp_200">
                <div class="layui-input-inline">
                  <select name="entityType" lay-search class="xzs" lay-filter="sxType">
                  </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline inp_400">
                  <input type="text" name="keyword" placeholder="请输入实体名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">检索实体</button>
                    <a class="shtjtz" href="/home/sltj.html">数量统计</a>
                </div>
            </div>
            <br>
            <div id="gjSx" style="display:none; margin-top:20px;">
                <div class="layui-inline inp_200">
                    <div class="layui-input-inline">
                        <select name="entitySx" class="sxxz" lay-search >
                            <option value="">不限</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline gjsxWh">
                    <div class="layui-input-inline">
                        <input type="number" name="sxMin" placeholder="请输入最小值" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="number" name="sxMax" placeholder="请输入最大值" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="nav">
      <ul class="clearfix">
        <li onclick="tz('st')"><a href="javascript:;">实体详情</a></li>
        <li onclick="tz('t')"><a href="javascript:;">实体图模型</a></li>
        <li onclick="tz('s')"><a href="javascript:;" class="ons">实体树模型</a></li>
      </ul>
    </div>
    <div class="contBox" id="conts">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-xs7">
            <div class="cBox box_l">
              <div class="contBox stmx" id="echart5">
              </div>
            </div>
          </div>
          <div class="layui-col-xs5">
            <div class="cBox box_r">
              <div class="sub">
                <div class="sub_head">
                  <h3><!--<b class="logo-01">舰</b>西奥多·罗斯福号航空母舰--></h3>
                  <span class="lsbb">[历史版本]</span>
                  <span class="xd fr">已修订</span>
                </div>
                <div class="sub_body">
                  <div class="jj layui-row layui-col-space15">
                    <div class="layui-col-md8">
                      <div class="content">
<!--                          西奥多·罗斯福号航空母舰（USS Theodore Roosevelt CVN-71），或罗斯福号航空母舰，是美国尼米兹级核动力航空母舰的四号舰，起造于1981年，于1984年正式下水。西奥多·罗斯福是美国第26任总统（任期1901年—1909年），是个海军迷，任期内大力扩充海军，也在他任内完成了大白舰队计划。昵称“T.R.”的罗斯福号是美国海军第一艘以西奥多·罗斯福总统命名的航空母舰，但除了该舰外，美国海军其实曾拥有过另一艘以罗斯福为名的航空母舰──以第32任总统富兰克林·罗斯福命名的富兰克林·D·罗斯福号（USS Franklin D. Roosevelt CVB-42）。-->
                      </div>
                    </div>
                    <div class="layui-col-md4">
                      <img src="" alt="" class="imgDt">
                    </div>
                  </div>
                  <div class="sb_rows">
                    <h5>属性</h5>
                    <div class="sb_list">
                      <ul class="clearfix properties">
<!--                        <li>-->
<!--                          <span class="lis1">舰种</span>-->
<!--                          <span class="lis2">航空母舰</span>-->
<!--                          <span class="lis3"><a href="javascript:;">维基百科</a></span>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                          <span class="lis1">舰种</span>-->
<!--                          <span class="lis2">航空母舰</span>-->
<!--                          <span class="lis3"><a class="rg" href="javascript:;">人工校对</a></span>-->
<!--                        </li>-->
                      </ul>
                    </div>
                  </div>
                  <div class="sb_rows">
                    <h5>实体关系</h5>
                    <div class="sb_list">
                      <ul class="clearfix relations">
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<script>
$(function(){
  layui.use(['form','layer'], function(){
    var form = layui.form;
    var layer = layui.layer;
      entTypeList();
      getStSxFn(entityType);
      form.render();

    // 获取实体详情
    getSt(entityType,id,latest,version);
    var chart5 = echarts.init(document.getElementById("echart5"));

    var option = {
      tooltip: {
          trigger: 'item',
          triggerOn: 'mousemove'
      },
      series: [
          {
              type: 'tree',
              data: [],
              top: '1%',
              left: '15%',
              bottom: '1%',
              right: '25%',
              roam: true,
              symbolSize: 10,
              initialTreeDepth:-1,
              label: {
                  position: 'left',
                  verticalAlign: 'middle',
                  align: 'right',
                  fontSize: 12,
                  textStyle: {//标题颜色
                      fontWeight: 'normal',
                      color:'#fff'
                  },
              },

              leaves: {
                  label: {
                      position: 'right',
                      verticalAlign: 'middle',
                      align: 'left'
                  }
              },

              expandAndCollapse: false,
              animationDuration: 550,
              animationDurationUpdate: 750
          }
      ]
    };

      $.ajax({
          url:'/query/enttree',
          type:'post',
          data:{entityType:entityType,entityId:id,version:version,latest:latest},
          success:function(msg){
              if(msg.success){
                  var data = JSON.parse(msg.json);
                  // console.log(data);
                  option.series[0].data = [data.result];
                  chart5.setOption(option);
              }
          },
          error:function(err){
              console.log(err);
          }
      });


        chart5.on('click', function(param) {

                getSt(param.data.entityType,param.data.id,param.data.latest,param.data.version);

        });

      chart5.on('dblclick', function(param) {
          // console.log(param);
          $.ajax({
              url:'/query/enttree',
              type:'post',
              data:{entityType:param.data.entityType,entityId:param.data.id,version:param.data.version,latest:param.data.latest},
              success:function(msg){
                  if(msg.success){
                      chart5.clear();
                      var data = JSON.parse(msg.json);
                      // console.log(data);
                      option.series[0].data = [data.result];
                      chart5.setOption(option);
                  }
              },
              error:function(err){
                  console.log(err);
              }
          });
      });

  });
});
</script>
</body>
</html>